@media {

 
body {
 margin:50px 50px 50px 50px;  
}

   
     .centered {
text-align: center;
    }
    
h1 {
    
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
}

    
h2 {
    
    font-family: 'Petit Formal Script', cursive;
    text-align:center;
    font-weight: 100;
    font-size: 40px;
    
    }



    



img {
    width:70%;
    border-radius:400px;
    margin:20px 0px 20px 0px;
    border:5px solid #A9B8CE;
}



button {
font-family:'Playfair Display', serif;    
background-color:#A9B8CE;
border:none;
color:black;
padding: 10px 20px 10px 20px;
border-radius:10px;
margin:20px;
text-align: center;
}

    button a {
    text-decoration: none;
    }

button:hover {
background-color: white;
    
}


#footer {
    left:0px;
    position:fixed;
    bottom:0px;
    background-color:#D9D9D9;
    color:black;
}

p {
 font-family: 'Times New Roman'  

}

h4 {
    font-family: 'Times New Roman'; 
    font-weight: bold;
}

h5 {
   font-family: 'Times New Roman';
}

h6 {
   font-family: 'Times New Roman'; 
}
    
    .section-header {
        background-color:#D9D9D9;
         font-family: 'Playfair Display', serif;
    color: black;
    text-align: left;
    font-size: 40px;
    border-bottom:10px solid white;
    }
    
    .row {
        margin: 0px 0px 25px 0px;
    }
    

    .nav a {
    font-family:'Times New Roman';
    color:black;
    text-align:center;
}

.nav a:hover {
    text-decoration: underline;
    color:black;
    }
    
.nav-item:hover {
    background-color:#D9D9D9;
        
    }
    
.nav {
        justify-content:center;

    }
    
      #topper {
    background-color: #D9D9D9;
    text-align: center;
    }
    
  
}
@media (min-width:576px) {
    h1 {
    font-size: 100px;
}
    
    #body {
     margin:0px 0px 0px 0px
    }
    

        

}

    

